<div class="modal fade" id="updateBusinessModal" data-bs-backdrop="static">
    <div class="modal-dialog  modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header fw-bold">
                Update Business Profile
                <button class="btn-close shadow" data-bs-dismiss="modal"></button>
            </div>
            <form action="/business/profile" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <label for="">business name</label>
                    <input type="text" class="form-control" name="name" value="{{businessData().name}}" minlength="4"  maxlength="50" required>

                    <label for=""> username</label>
                    <input type="text" class="form-control" value="{{businessData().username}}" readonly>

                    <label for="">email</label>
                    <input type="email" class="form-control" name="email" value="{{businessData().email}}" minlength="4" maxlength="50">

                    <label for="">address</label>
                    <input type="text" class="form-control" name="address" value="{{businessData().address}}" minlength="4" maxlength="200">

                    <label for="">phone</label>
                    <input type="tel" class="form-control" name="phone" value="{{businessData().phone}}" minlength="4"  maxlength="14">

                    <label for="">website</label>
                    <input type="text" class="form-control" name="website" value="{{businessData().website}}" minlength="4"  maxlength="100">

                    <label for="">notification</label>
                    <input type="text" class="form-control" name="notification" value="{{businessData().notification}}" minlength="4" maxlength="200">

                    <label for="">business info</label>
                    <textarea type="text" class="form-control" name="about"  maxlength="400" rows="3" >{{businessData().about}}</textarea>


                    <label for="">business cartegory</label>
                    <select name="cartegory" id="" class="form-select">
                        <option value="" selected disabled>select cartegory</option>
                        {% if business_cartegories is defined %}
                            {%  for cartegory in business_cartegories %}
                                <option value="{{cartegory.name}}">{{cartegory.name}}</option>
                            {%endfor%}
                        {% endif %}
                    </select>

                    <label for="">pdf menu</label>
                    <input type="file" class="form-control" name="pdf_menu" accept=".pdf" value="{{businessData().pdf_menu}}" >

                    <label for="">profile photo</label>
                    <input type="file" class="form-control" name="photo" accept=".jpg, .jpeg, .png" value="{{businessData().photo}}" >
                </div>
                <div class="modal-footer d-flex flex-row justify-content-between">
                    <button class="btn btn-dark" type="button" data-bs-dismiss="modal">cancel</button>
                    <button class="btn btn-primary" type="submit" >submit</button>

                </div>
            </form>
        </div>
    </div>
</div>