{% extends "dashboard.html" %}

{% block content %}

<!-- update order modal -->
<div class="modal fade" id="updateOrderModal" data-bs-backdrop="static">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header border-0 fw-bold fs-4">add new order</div>
        <form class="" action="/orders/{{order.id}}/update" method="post">
            <div class="modal-body">
                <label for="">Customer name *</label>
                <input type="text" class="form-control " name="customer"  value="{{order.customer}}" maxlength="30" minlength="4"  required>
                <label for="">contact</label>
                <input type="text" class="form-control " name="contact"  value="{{order.contact}}" maxlength="50"  minlength="4" >
                <label for="">Customer address</label>
                <input type="text" class="form-control " name="address" value="{{order.address}}" maxlength="30" minlength="4">
                <label for="">Delivery date</label>
                <input type="date" class="form-control " name="delivery_date" value="{{order.delivery_date}}" maxlength="30" minlength="4" >
            </div>
            <div class="modal-footer justify-content-between">
                <button  class="btn btn-dark " type="button" data-bs-dismiss="modal">cancel</button>
                <button type="submit" class="btn btn-primary ">submit</button>
            </div> 
        </form>
      </div>
    </div>
</div>

<!-- page body -->
<div class="card p-2">
    <div class="fw-bold ms-3">Order details page</div>
    <div class="card shadow border-secondary-subtle m-2 p-2">
        <div class="fw-bold fs-3  d-flex flex -row justify-content-between flex-wrap mb-2">
            <span>{{order.customer}}</span>
            <span class="bg-primary-subtle p-2 rounded text-muted">Total: {{order.total}} </span>
        </div>
        <div class="d-flex flex-row justify-content-between flex-wrap text-muted fw-bold"> 
            <span class="card p-1 m-1"> delivery date : {% if order.delivery_date != None and order.delivery_date != ''  %}{{order.delivery_date.strftime("%d-%m-%Y")}} {% endif %} </span>
            <span class="card p-1 m-1"> customer contact : {{order.contact}} </span>
            <span class="card p-1 m-1"> customer address : {{order.address}} </span>
            <span class="card p-1 m-1"> total vat : {{order.vat}} </span>
            <span><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateOrderModal">update</button></span>
        </div>
    </div>


    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <table class="table shadow rounded me-3">
        <thead>
            <tr>
                <th>#id</th>
                <th>name</th>
                <th scope="col">price</th>
                <th scope="col">quantity</th>
                <th scope="col">VAT</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
        {% for item in order_items %}
            <!-- delete item modal for each item -->
            <div class="modal fade" id="deleteItemDialog-{{item.id}}">
            <div class="modal-dialog modal-sm">
               <div class="modal-content">
                   <div class="modal-header border-0 fw-bold">{{item.name}}</div>
                   <div class="modal-body text-muted">are you sure you want to delete this item</div>
                   <div class="modal-footer justify-content-between">
                       <button class="btn btn-outline-dark rounded-pill" data-bs-dismiss="modal">cancel</button>
                       <a href="/orders/{{order.id}}/{{item.id}}" class="btn btn-danger rounded-pill">delete</a>
                   </div>
               </div>
            </div>
           </div>

            <tr class="">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.vat}}</td>
                <td class="row">
                    <button class="btn btn-danger " data-bs-target="#deleteItemDialog-{{item.id}}" data-bs-toggle="modal"> remove </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex flex-row justify-content-between">
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#itemsModal">add item</button>
        <button class="btn btn-primary" data-bs-target="#completeOrder" data-bs-toggle="modal">complete order </button>
    </div>

    <!-- complete order modal -->
    <div class="modal fade" id="completeOrder">
        <div class="modal-dialog modal-sm ">
          <div class="modal-content">
            <div class="modal-header border-0 fw-bold">Confrim Complete</div>
            <div class="modal-body text-muted">are you sure you want to complete this order</div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-outline-dark rounded-pill" data-bs-dismiss="modal">cancel</button>
                <a href="/orders/{{order.id}}/complete" class="btn btn-primary rounded-pill">complete</a>
            </div>
        </div>
        </div>
    </div>

    <!-- all items modal -->
    <div class="modal fade" id="itemsModal">
        <div class="modal-dialog modal-dialog-scrollable ">
            <div class="modal-content">
                <div class="modal-header fw-bold flex-wrap">
                    <span class="me-5">Pick items Card  </span> 
                    <form action="" class=" d-flex flex-row m-2 ms-0 flex-fill">
                        <input type="search" class="form-control shadow bg-secondary-subtle me-1" value="{{search}}" name="search" placeholder="search...">
                        <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>                    
                </div>
                <div class="modal-body">
                    
                    {% for item in items %}
                    <div class="card border-0 shadow mb-2 p-2">
                        <div class="d-flex flex-row justify-content-between">
                            <span class="fw-bold overflow-elipsis">{{item.name}}</span>
                            {% if item.type =='product' and (item.stock == None  or item.stock == 0) %}
                            {% else%}
                            <button class="btn btn-outline-dark rounded-pill" data-bs-target="#addItem-{{item.id}}"
                                data-bs-toggle="modal">add</button>
                            {% endif %}
                        </div>
                        {% if item.type == 'product'%}
                        <span class="text-muted">stock: {{item.stock}}</span>
                        {% else %}
                        <span class="text-muted">service</span>
                        {% endif%}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



    {% for item in items %}
        <!-- add item modal -->
        <div class="modal fade" id="addItem-{{item.id}}"  >
            <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header fw-bold border-0">Add Item Card</div>
                <form action="" method="post">
                    <div class="modal-body card m-2">
                        <label for="">item name</label>
                        <input type="text" name="name" class="form-control" value="{{item.name}}" readonly>
                        <label for="">price</label>
                        <input type="number" name="price" class="form-control" value="{{item.price}}" readonly>
                        <label for="">quantity</label>
                        <input type="number" name="quantity" class="form-control" value="1" min="1" required>
                        <input type="number" name="item_id" class="visually-hidden" value="{{item.id}}">
                        <label for="">VAT (%)</label>
                        <input type="number" name="vat" class="form-control" value="{{item.vat}}" readonly>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button class="btn btn-dark rounded-pill" type="button" data-bs-dismiss="modal">cancel</button>
                        <button class="btn btn-secondary rounded-pill" type="button" data-bs-toggle="modal" data-bs-target="#itemsModal">back to items</button>
                        <button class="btn btn-primary rounded-pill" type="submit">submit </button>
                    </div>
                </form>
            </div>
            </div>
        </div>

       

    {% endfor %}

</div>

{% endblock %}