{% extends "dashboard.html" %}

{% block content %}



<div class="card p-2">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div class="m-2 fw-bold fs-4">customers</div>
    <span><button class="btn btn-primary" data-bs-target="#addCustomer" data-bs-toggle="modal" >add new </button></span>
  </div>
  
  <!-- add item modal -->
  <div class="modal fade" id="addCustomer" data-bs-backdrop="static" >
    <div class="modal-dialog modal-content" >
      <div class="modal-header border-0 fw-bold"> Add Customer </div>
      <form action="" method="post" >
        <div class="modal-body">
          <label for="">name *</label>
          <input type="text" name="name" class="form-control"  required minlength="4" maxlength="30" >
          <label for="">phone</label>
          <input type="tel" name="phone" class="form-control"   minlength="4" maxlength="14" >
          <label for="">email</label>
          <input type="email" name="email" class="form-control"   minlength="4" maxlength="30" >
          <label for="">address</label>
          <input type="text" name="address" class="form-control"   minlength="4" maxlength="30" >
         
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
          <button type="submit" class="btn btn-primary">submit</button>
        </div>
      </form>
    </div>
  </div>

  <table class="table">
    <thead class="">
      <tr class="bg-light m-2">
        <th scope="col">#</th>
        <th scope="col"> customer name</th>
        <th scope="col">phone</th>
        <th scope="col">email</th>
        <th scope="col">address</th>
        <th scope="col">actions</th>
      </tr>

    </thead>
    <tbody class="">
      {% for customer in customers %}

      <!-- update item modal for each item -->
      <div class="modal fade" id="customerModal-{{customer.id}}">
        <div class="modal-dialog modal-content">
          <div class="modal-header border-0 fw-bold"> Customer Card </div>
          <form action="/customers/{{customer.id}}" method="post">
            <div class="modal-body">
                <label for="">name</label>
                <input type="text" name="name" class="form-control" value="{{customer.name}}" required minlength="4" maxlength="40" >
                <label for="">phone</label>
                <input type="tel" name="phone" class="form-control" value="{{customer.phone}}"   minlength="4" maxlength="14" >
                <label for="">email</label>
                <input type="email" name="email" class="form-control"  value="{{customer.email}}"  minlength="4" maxlength="30" >
                <label for="">address</label>
                <input type="text" name="address" class="form-control"  value="{{customer.address}}"  minlength="4" maxlength="30" >
               
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
              <button type="submit" class="btn btn-primary">submit</button>
            </div>
          </form>

        </div>
      </div>

      <!-- delete item modal for each item -->
      <div class="modal fade" id="deleteDialog-{{customer.id}}">
        <div class="modal-dialog modal-content modal-sm">
          <div class="modal-header border-0 fw-bold">{{customer.name}}</div>
          <div class="modal-body text-muted">are you sure you want to delete this customer</div>
          <div  class="modal-footer justify-content-between">
            <button class="btn btn-outline-dark rounded-pill" data-bs-dismiss="modal">cancel</button>
            <a href="/customers/{{customer.id}}/delete" class="btn btn-danger rounded-pill">delete</a>
          </div>
        </div>
      </div>

       <!-- add order customer modal for each item -->
       <div class="modal fade" id="createOrderDialog-{{customer.id}}">
        <div class="modal-dialog modal-content modal-sm">
          <div class="modal-header border-0 fw-bold">{{customer.name}}</div>
          <div class="modal-body text-muted">Create a new order for this customer</div>
          <form action="/orders/add" method="post">
            <input name="customer" class="visually-hidden" value="{{customer.name}}">
            <div  class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-dark rounded-pill" data-bs-dismiss="modal">cancel</button>
                <button type="submit" class="btn btn-primary rounded-pill">create</button>
              </div>
          </form>
        </div>
      </div>
      
      <!-- item row in the table -->
      <tr class="m-2 shadow rounded border-secondary-subtle" data-bs-target="#customerModal-{{customer.id}}"
        data-bs-toggle="modal">
        <th scope="row">{{customer.id}}</th>
        <td>{{customer.name}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td class="d-flex flex-row " role="group" >
          <button class="btn btn-primary me-1">update</button>
          <a class="btn btn-warning me-1" href="/orders?search={{customer.name}}">orders</a>
          <button class="btn btn-success me-1" data-bs-toggle="modal" data-bs-target="#createOrderDialog-{{customer.id}}">new order</button>
          <button  class="btn btn-danger"  data-bs-target="#deleteDialog-{{customer.id}}" data-bs-toggle="modal">delete </button>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}