{% extends "base.html" %}

{% block body %}

{% if current_user.business_id == None or current_user.active == False%}
    <!-- check for unassigned user -->
    {% include "missing_business.html" %}

{% elif businessData().active == False %}
    <!-- check for inactive business -->
    {% include "inactive_business.html" %}
{% else %}

{% include "cartegories.html" %}

<div class="d-flex flex-column " style="height: 100vh; max-height: 100vh;">

    <nav class="navbar navbar-expand-lg bg-body-tertiary p-1 shadow">
        <div class="container-fluid justify-content-between">
            <a class="navbar-brand fw-bold fs-4" href="#">{{businessData().name}}</a>
            <button class="navbar-toggler shadow" type="button" data-bs-toggle="offcanvas"data-bs-target="#dash-offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <span class="navbar-toggler-icon m-2"></span>
                   
                </ul>
                <form action="" class="w-100">
                    <input class="form-control shadow border-secondary-subtle w-50 mx-auto rounded-pill" name="search" id="search" type="search" placeholder="Search" maxlength="20" aria-label="Search"> 
                 </form>
                <div class="d-flex flex-column ms-2 me-2 justify-content-center align-items-center">
                    <span class="fw-bold fs-5">{{current_user.name}}</span>
                    <span class="fw-bold text-muted fs-6">{{current_user.email}}</span>
                </div>
                <img class="img rounded-circle m-0" src="{{url_for('static',filename='/images/profile1.jpg')}}" alt="business profile" width="60px" height="60px" srcset="">
            </div>
        </div>
    </nav>

    <section class="flex-fill d-flex flex-row">

        <nav class=" flex-column bg-white shadow p-2 col-2 menu-nav" style="height: 100%; min-width: 150px; max-width: 200px;">
            <span class="text-muted fw-bold">main menu</span>
            <hr class="m-0">
            <a href="/dashboard" class="nav-link text-muted fw-bold m-2"> <i class="fa-brands fa-microsoft me-1"></i> Dashboard </a>
            <a href="/product" class="nav-link text-muted fw-bold m-2"> <i class="fa-solid fa-list me-1"></i> Products </a>
            <a href="/service" class="nav-link text-muted fw-bold m-2"> <i class="fa-solid fa-sliders me-1"></i> Services </a>
            <a href="/customers" class="nav-link text-muted fw-bold m-2"><i class="fa-solid fa-users"></i> Customers </a>
            {% if type is defined %}
            <a href="#"  class="nav-link text-muted fw-bold m-2" data-bs-target="#caretegoriesModal" data-bs-toggle="modal"> <i class="fa-solid fa-layer-group me-1"></i> Cartegories </a>
            {% endif %}
            <a href="/orders" class="nav-link text-muted fw-bold m-2"> <i class="fa-solid fa-bag-shopping me-1"></i> Orders </a>
            <a href="/orders/sales" class="nav-link text-muted fw-bold m-2"> <i class="fa-solid fa-cart-shopping me-1"></i> Sales </a>
            <a href="#" class="nav-link text-muted fw-bold m-2"> <i class="fa-solid fa-message me-1"></i> Messages </a>
            <span class="flex-fill"></span>
            
            <a href="#" class="nav-link text-muted fw-bold m-2"> <i class="fa-solid fa-gear"></i></i> settings </a>
            <a href="#" class="nav-link text-muted fw-bold m-2" data-bs-toggle="modal" data-bs-target="#logoutDialog"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout </a>
             
        </nav>
        <main class="container-fluid w-100 flex-fill overflow-scroll dash-body mt-2" style="max-height: 90vh;" >
            {% block content %}
                <!-- dashboard item -->
            {% endblock %}
        </main>
    </section>

</div>

<!-- offcanvas menu -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="dash-offcanvas" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <div class="d-flex flex-row justify-content-between">
        <img class="img rounded-circle m-0" src="{{url_for('static',filename='/images/profile1.jpg')}}" alt="business profile" width="60px" height="60px" srcset="">

        <div class="d-flex flex-column ms-2 me-2 justify-content-center align-items-center">
            <span class="fw-bold fs-5">{{current_user.name}}</span>
            <span class="fw-bold text-muted fs-6">{{current_user.email}}</span>
        </div>
       
      </div>
      <button type="button" class="btn-close shadow" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-fill">
        <form action="" class=" d-flex flex-row m-2 ms-0">
            <input type="search" class="form-control shadow bg-secondary-subtle me-1" id="search" name="search" placeholder="search...">
            <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-magnifying-glass"></i></button>
        </form>   
        <span class="text-muted fw-bold">main menu</span>
        <hr class="m-0">
        <a href="/dashboard" class="nav-link text-muted fw-bold m-3"> <i class="fa-brands fa-microsoft me-1"></i> Dashboard </a>
        <a href="/product" class="nav-link text-muted fw-bold m-3"> <i class="fa-solid fa-list me-1"></i> Products </a>
        <a href="/service" class="nav-link text-muted fw-bold m-3"> <i class="fa-solid fa-sliders me-1"></i> Services </a>
        <a href="/customers" class="nav-link text-muted fw-bold m-3"><i class="fa-solid fa-users"></i> Customers </a>
        {% if type is defined %}
        <a href="#"  class="nav-link text-muted fw-bold m-3" data-bs-target="#caretegoriesModal" data-bs-toggle="modal"> <i class="fa-solid fa-layer-group me-1"></i> Cartegories </a>
        {% endif %}
        <a href="/orders" class="nav-link text-muted fw-bold m-3"> <i class="fa-solid fa-bag-shopping me-1"></i> Orders </a>
        <a href="/orders/sales" class="nav-link text-muted fw-bold m-3"> <i class="fa-solid fa-cart-shopping me-1"></i> Sales </a>
        <a href="#" class="nav-link text-muted fw-bold m-3"> <i class="fa-solid fa-message me-1"></i> Messages </a>
        <span class="mt-5 mb-3"></span>
        
        <a href="#" class="nav-link text-muted fw-bold m-3"> <i class="fa-solid fa-gear"></i></i> settings </a>
        <a href="#" class="nav-link text-muted fw-bold m-3" data-bs-toggle="modal" data-bs-target="#logoutDialog"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout </a>
             
    </div>
  </div>

<!-- logout dialog -->
<div class="modal fade shadow" id="logoutDialog">
    <div class="modal-dialog modal-sm modal-dialog-centered">
     <div class=" modal-content">
      <div class="modal-header border-0 fw-bold mb-1">Confirm Action</div>
      <div class="modal-body text-muted">are you sure you want to logout</div>
      <div  class="modal-footer justify-content-between">
        <button class="btn btn-outline-dark rounded-pill" data-bs-dismiss="modal">cancel</button>
        <a href="{{url_for('users.logout')}}" class="btn btn-danger rounded-pill">logout</a>
      </div>
    </div>
</div>
</div>

{% endif %}

<script>
    const urlParams= new URLSearchParams(window.location.search)
    const search = urlParams.get('search')
    console.log(search);
    if(search != null){
        const searchInputs=document.getElementsByName('search');
        searchInputs.forEach(element => {
            element.value=search;
        });
    }
</script>


{% endblock %}

