{% extends "base.html" %}

{% block body %}
<div class="container">
<form class="card mx-auto p-2 mt-5 shadow border-secondary-subtle" style="max-width: 30rem;" method="POST" >
    <h3 class="text-center fw-bold">LOGIN</h3>
    <div class="mb-3">
      <label  class="form-label">email</label>
      <input type="email" name="email" class="form-control" required maxlength="50" minlength="4" />
    </div>
    <div class="mb-3">
      <label class="form-label">Password or OTP</label>
      <input type="password" name="password" class="form-control" required maxlength="10" minlength="4"/>
    </div>
    <div class="mb-3 d-flex flex-row justify-content-between">
      <a  href="{{url_for('users.forgot_password')}}" class="nav-link text-primary" >forgot password</a>
      <a href="{{url_for('users.register')}}" class="btn btn-light shadow">register instead <i class="fa-solid fa-arrow-right"></i> </a>
      
    </div>

    {% for message in get_flashed_messages() %}
      <div class="alert alert-primary alert-dismissible fade show">
         {{ message }} 
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary shadow mb-3" >Submit</button>
    
  </form>

</div>

{% endblock %}